[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "colorDF"]
	path = colorDF
	url = https://github.com/january3/colordf
[submodule "plotwidgets"]
	path = plotwidgets
	url = https://github.com/cran/plotwidgets
[submodule "tagcloud"]
	path = tagcloud
	url = https://github.com/january3/tagcloud
[submodule "tmod"]
	path = tmod
	url = https://github.com/january3/tmod
